name: Continuous Delivery

on:
  push:
  release:
    types: [published]

jobs:
  build:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-2019]
        # os: [ubuntu-20.04, windows-2019, macOS-12]

    steps:
      - uses: actions/checkout@v4

      # Used to host cibuildwheel
      - uses: actions/setup-python@v5

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.16.5

      - name: Build wheels
        run: python -m cibuildwheel python_bindings
        env:
          CIBW_SKIP: "*-win32 cp3{6,7,8}-* pp*-*"

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: nmslib_metabrainz-wheels-${{ runner.os }}
          path: wheelhouse/*.whl

  deploy:
    runs-on: ubuntu-latest
    needs:
      - build
    environment:
      name: pypi
      url: https://pypi.org/p/nmslib-metabrainz
    permissions:
      id-token: write  # required for PyPI upload
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: nmslib_metabrainz-wheels-*
          path: dist/
          merge-multiple: true
      - name: Prepare distributions
        run: |
          ls -l dist/
      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
        if: startsWith(github.ref, 'refs/tags/')

