name: Continuous Delivery

on:
  release:
    types: [published]

jobs:
  deploy:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    environment:
      name: pypi
      url: https://pypi.org/p/nmslib-metabrainz
    permissions:
      contents: read
      id-token: write
    strategy:
      matrix:
        os: [macOS-11]
        #os: [ubuntu-20.04, windows-2019, macOS-11]

    steps:
      - uses: actions/checkout@v4

      # Used to host cibuildwheel
      - uses: actions/setup-python@v3

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.16.5

      - name: Build wheels
        run: python -m cibuildwheel python_bindings
        env: 
          CIBW_BUILD: cp310-macosx_x86_64
#CIBW_SKIP: cp37-manylinux_x86_64

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: wheelhouse/
