name: Continuous Delivery

on:
  push:
  release:
    types: [published]

jobs:

  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-2019]
        # os: [ubuntu-20.04, windows-2019, macOS-12]

    steps:
      - uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.16.5
        with:
          package-dir: python_bindings
        env:
          CIBW_SKIP: "*-win32 cp3{6,7,8}-* pp*-*"

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: nmslib_metabrainz-wheels-${{ runner.os }}
          path: wheelhouse/*.whl
  
  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build sdist
        run: pipx run build python_bindings --sdist

      - uses: actions/upload-artifact@v4
        with:
          name: nmslib_metabrainz-sdist
          path: python_bindings/dist/*.tar.gz

  deploy:
    runs-on: ubuntu-latest
    needs: [build_wheels, build_sdist]
    environment:
      name: pypi
      url: https://pypi.org/p/nmslib-metabrainz
    permissions:
      id-token: write  # required for PyPI upload
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: nmslib_metabrainz-*
          path: dist/
          merge-multiple: true
      - name: Prepare distributions
        run: |
          ls -l dist/
      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
        if: startsWith(github.ref, 'refs/tags/')

